
.item{
    padding: 5px 0;
    margin: 8px 0;

    font-size: 18px;
    line-height: 36px;
    cursor: pointer;
}

.item{

    font-size: 24px;
}
.link{
    color: #5f5e5e;
}



.link.selected{
    color: black;
    font-size: 26px;
}